<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#listingModal">
    Make A New Listing
</button>

<div class="modal fade" id="listingModal" tabindex="-1" aria-labelledby="listingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="listingModalLabel">Make a New Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm">
                    <label for="itemName">Enter the item name: </label>
                    <input type="textarea" size="50px" class="material_name" placeholder="i.e. Shade canopy" /><br><br>
                    <label for="itemDescription">Give a brief description of your item:</label><br>
                    <textarea rows="4" cols="50" name="itemDescription" class="description"
                        placeholder="A white 10' x 10' 'one person setup' shade canopy with wheel bag and ground stakes"></textarea><br><br>
                    <label for="categories">Choose a category for your item: </label>
                    <input class="category" list="categories" placeholder="Events">
                    <datalist id="categories">
                        <option value="Camping" />
                        <option value="Events" />
                        <option value="Exercise" />
                        <option value="Children" />
                        <option value="Hardware" />
                        <option value="Medical" />
                        <option value="Outdoor" />
                        <option value="Discover passes" />
                        <option value="Games" />
                    </datalist><br><br>

                    <label for="itemCost">What is the replacement cost for your item?</label>
                    <input type="textarea" size="10px" class="cost" placeholder="$50.00" /><br>
                    <p>Is the item currently available for loan?
                    <div class="availability">
                        <input type="radio" id="available" name="availability" value="1">
                        <label for="available">Yes</label>
                        <input type="radio" id="notAvailable" name="availability" value="0">
                        <label for="notAvailable">No</label><br>
                    </div>
                    </p>
                    <p>Upload a picture of your item:
                        <button id="upload_widget" class="cloudinary-button">Add image</button>
                    </p>
                    <!-- placeholder for uploaded image -->
                    <img id="uploadedimage" src="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="listingFormHandler()" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>