 <!-- What should the form action be? -->
 <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
  <label for="itemName">Enter the item name: </label>
  <input type="textarea" size="50px" id="itemName" placeholder="i.e. Shade canopy" /><br><br>
  <label for="itemDescription">Give a brief description of your item:</label><br>
  <textarea rows="4" cols="50" name="itemDescription" id="itemDescription"
      placeholder="A white 10' x 10' 'one person setup' shade canopy with wheel bag and ground stakes"></textarea><br><br>
  <label for="categories">Choose a category for your item: </label>
  <input list="categories" placeholder="Events">
  <datalist id="categories">
      <option value="Camping" />
      <option value="Events" />
      <option value="Exercise" />
      <option value="Children" />
      <option value="Hardware" />
      <option value="Medical" />
      <option value="Outdoor" />
      <option value="Discover passes" />
      <option value="Games" />
  </datalist><br><br>

  <label for="itemCost">What is the replacement cost for your item?</label>
  <input type="textarea" size="10px" id="itemCost" placeholder="$50.00" /><br>
  <p>Is the item currently available for loan?
      <input type="radio" id="available" name="availability" value="true">
      <label for="available">Yes</label>
      <input type="radio" id="notAvailable" name="availability" value="false">
      <label for="notAvailable">No</label><br>
  </p>
  <p>Upload a picture of your item</p>
  <input type="file" name="image" id="imageFile" />
  <button type="submit" id="upload">Upload</button>
</form>