<section class="container">
  <h3 class="community_name">{{community.community_name}}</h3>
  <section class="flex-row justify-center">
    {{#each community.community_name as |community|}}
    {{> community-details}}
    {{/each}}

    
  </section>
</section>
