<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Share</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      ShareSphere
    </h1>
    {{#if logged_in}}
    <nav>
        <a href="#home">Home</a>
        <a href="#categories">Categories</a>
        <a href="#profile">Profile</a>
        <input type="text" id="searchBar" placeholder="Search...">
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
   <footer>
    <h2>ShareSphere</h2>
    <p>&copy; 2024 Group Two. All rights reserved.</p>
    <ul>
        <!-- TODO: Put in links to these pages/decide if we want to keep or change  -->
        <li><a href=#about-us> About Us  </a></li>
        <li><a href=#help-center> Help Center</a></li>
    </ul>    
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>