<section class="container">
  <h2 class="community_name">{{community_name}}</h2>
  <section class="flex-row justify-center">
    {{#each materials as |material|}}
    {{> community-details}}
    {{/each}}
  </section>
</section>

<div>
  hello
</div>
