<div class="row mb-4 post">
  <div class="col-md-5">
    <h3>
      {{post.title}}
    </h3>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_body}}
    </p>
  </div>
</div>
<div class="comment">
  {{#each post.comments as |comment|}}
  {{> comments}}
  {{/each}}
</div>
<div>
  {{> new-comment}}
</div>


<script src="/js/new-comment.js"></script>