
<body>
  <main>

      <!-- Bootstrap navbar  -->
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ShareSphere</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Communities
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Peninsula</a></li>
            <li><a class="dropdown-item" href="#">South Bay</a></li>
            <li><a class="dropdown-item" href="#">East Bay</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <div class="login">
          <a class="btn btn-primary" href="/auth/loginSignup" role="button"> Log In/Sign Up </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Bootstrap navbar  -->


<!-- User Story Image  -->
    <div class="container-lg">
      <!-- Include img-fluid class to make image responsive via boostrap -->
      <img class="img-fluid" id="user-story" src="images/landing_page/mobile-sub-image2.png" alt="description of the user story">
    </div>
<!-- User Story Image  -->


    <div class="container-lg">
      <h2> Communities </h2>
      <!-- we can change the amount of cards that are displayed by changing the row-cols-md-NUMBER  -->
      <!-- TODO: add links to each card and allow link to go through only if user is signed in -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <!-- the h-100 makes all the card heights even -->
          <div class="card h-100">
            <img src="images/landing_page/communities/East-Bay.png" class="card-img-top" alt="Photo of East Bay">
            <div class="card-body">
              <h5 class="card-title">East Bay</h5>
              <p class="card-text"> Including: Oakland, Berkeley, Fremont, Hayward, Richmond, Livermore and San Leandro </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/landing_page/communities/Peninsula.png" class="card-img-top" alt="Photo of Peninsula">
            <div class="card-body">
              <h5 class="card-title">Peninsula</h5>
              <p class="card-text"> Including: Palo Alto, Mountain View, Redwood City, San Mateo, and Daly City </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/landing_page/communities/South-Bay.png" class="card-img-top" alt="Photo of South Bay">
            <div class="card-body">
              <h5 class="card-title">South Bay</h5>
              <p class="card-text"> Including: San Jose, Santa Clara, Sunnyvale, Milpitas, Cupertino, Campbell and Los Gatos</p>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>

  <!-- JS for bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>



</body>

</html>