
<body>
  <main>

<!-- User Story Image  -->
    <div class="container-lg">
      <!-- Include img-fluid class to make image responsive via boostrap -->
      <img class="img-fluid" id="user-story" src="/images/landing_page/mobile-sub-image2.png" alt="description of the user story">
    </div>
<!-- User Story Image  -->


    <div class="container-lg">
      <h2> Communities </h2>
      <!-- we can change the amount of cards that are displayed by changing the row-cols-md-NUMBER  -->
      <!-- TODO: add links to each card and allow link to go through only if user is signed in -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <!-- the h-100 makes all the card heights even -->
          <div class="card h-100">
            <a href="/community/1">
            <img src="/images/landing_page/communities/East-Bay.png" class="card-img-top" alt="Photo of East Bay">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="/community/1">East Bay</a></h5>
              <p class="card-text"> Including: Oakland, Berkeley, Fremont, Hayward, Richmond, Livermore and San Leandro </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="/community/2">
            <img src="/images/landing_page/communities/Peninsula.png" class="card-img-top" alt="Photo of Peninsula">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="/community/2">Peninsula</a></h5>
              <p class="card-text"> Including: Palo Alto, Mountain View, Redwood City, San Mateo, and Daly City </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="/community/3">
            <img src="/images/landing_page/communities/South-Bay.png" class="card-img-top" alt="Photo of South Bay">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="/community/3">South Bay</a></h5>
              <p class="card-text"> Including: San Jose, Santa Clara, Sunnyvale, Milpitas, Cupertino, Campbell and Los Gatos</p>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>

  <!-- JS for bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>



</body>

</html>